#facilities {
    margin-left: 3em;
}

#facilities .mainTitle {
    text-align: center;
    border-bottom: 1px solid teal;
    padding: 1em;
    margin-bottom: 2em;
}

#facilities .icon img{
    width: 64px;
    float: left;
    margin-right: 1em;
}

#facilities .content {
    display: flex;
    flex-wrap: wrap;
}

#facilities .data {
    width: 30%;
    padding: 1em;
}

#facilities .desc {
    line-height: 1.5em;
    float: left;
    width: 90%;
}


/* Contact Us Styling */

#contactUs {
    margin-left: 3em;
    margin-right: 3em;
  margin-top: 5em;
}

#contactUs .mainTitle {
    text-align: center;
    border-bottom: 1px solid teal;
    padding: 1em;
    margin-bottom: 2em;
}

#contactUs .data {
    display: flex;
}

#contactUs .title {
    text-align: center;
}

#contactUs img {
    width: 64px;
}

.phone-number {
    border-right: 1px solid #ddd;
    padding: 5em;
}

.address {
    padding: 5em;
    border-right: 1px solid #ddd;
}

.email {
    padding: 5em;
}